table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5rem;
}
table {
    margin-bottom: 5rem;
}
fieldset {
    height: 100vh;
}
div {
    display: flex;
    margin: 1rem 0;
}
button {
    margin-right: 1rem;
}